<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064544734386-0r4oktllqlisbso0cfc3p9c2i9v1k31g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064544734386-0r4oktllqlisbso0cfc3p9c2i9v1k31g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064544734386-les3dohk0jcrtm5ediv5h5sjkuqjam70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD06j4FcFuk8kO9ziQjNu9SlFzxnusRhRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1064544734386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhwanish.heartless</string>
	<key>PROJECT_ID</key>
	<string>heartless-17b56</string>
	<key>STORAGE_BUCKET</key>
	<string>heartless-17b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064544734386:ios:e7b2172405d3dbb4c74dab</string>
</dict>
</plist>
